<!DOCTYPE html>
<http xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<style>
    body {
        height:100vh;
        width:100%;
    }

    @media (max-width: 1320px)
    #wrap #header {
    }

    .banner {
        height: 43px;
        border-bottom: 1px solid #e8e8e8;
        border-bottom-color: rgba(0,0,0,.09);
    }

    .name {
        display: flex;
        flex-direction: row;
        height:20%;
    }

    .real_name {
        justify-content: center;
    }

    .product_menu {
        height: 53px;
    }


</style>
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
</head>
<body>
    <div class="banner">

    </div>
    <div class="name">
        <div class="real_name">

        </div>
        <div class="link">

        </div>
<!-- 페이스북 <a href=""></a> -->
<!-- 인스타그램 <a href=""></a> -->
    </div>
    <div class="product_menu">

    </div>
    <div class="product_display">
        <div class="scroll-horizon">

        </div>
        <div class="scroll">

        </div>
    </div>
</body>
</html>
</http>
