<!DOCTYPE html>
<http xmlns:th="http://www.thymeleaf.org">
    <body>
    <div>
        <form th:object="${form}" action="/admins/pManage/{id}/edit" method="post">
            <div>
                <label th:for="pName">이름</label>
                <input type="text" th:field="*{pName}" id="pName" name="pName" placeholder="상품이름 입력">
            </div>
            <div>
                <label for="price">가격</label>
                <input type="text" th:field="*{price}" id="price" name="price" placeholder="가격 입력">
            </div>
            <div>
                <label for="stock">재고</label>
                <input type="text" th:field="*{stock}" id="stock" name="stock" placeholder="재고 입력">
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
    </body>
</http>