<!DOCTYPE html>
<http xmlns:th="http://www.thymeleaf.org">
    <body>
    <div>
        <!-- 이것은 비회원 주문이므로 주문자 이름과 상품은 선택한거니까 상품은 필요가 없을듯... -->
        <form action="/order/join" method="post">
            <div>
                <label for="member">주문자</label>
                <input type="text" id="member" name="member" placeholder="주문자 입력">
            </div>
            <div>
                <label for="stock">재고</label>
                <input type="text" id="stock" name="stock" placeholder="재고 입력">
            </div>
            <button type="submit">등록</button>
        </form>
    </div>
    </body>
</http>
</html>